<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @user.username %>
</p>

<p>
  <b>Friends:</b>
  <% @user.friendships.each do |friendship| %>
  	<%= friendship.friend.username %>
  <% end %>
</p>

<p>
  <b>Meta:</b>
  <% @user.user_metas.each do |m| %>
  	<%= m.key %> = <%= m.value %>
  <% end %>
</p>